:root {
  --body-font: 'Fira Sans';
  --heading-font: 'Noto Sans';
  --heading-font-weight: 400;
  --body-font-weight: 400;
  --accent-color: #ad2424;
  --second-color: #fefefe;
  --swiper-navigation-size: 20px;
  --swiper-navigation-sides-offset: 0px;
  --swiper-navigation-color: var(--second-color);
  --swiper-navigation-top-offset: calc(100% - 10px);
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-color: var(--second-color);
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: normal;
  font-size: 2.4em;
  margin: 12px 0;
  line-height: 1.2em;
}

body {
  font-family: var(--heading-font);
  margin: 0;
  padding: 0;

  color: var(--accent-color);
}

.nav {
  background: var(--second-color);
  color: var(--accent-color);
  padding: 10px 0;
  text-align: center;
}

.nav a {
  color: var(--accent-color);
  margin: 0 10px;
  text-decoration: none;
}

.header {
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--accent-color);
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 0 2px 0px 0px white;
}

.header a {
  color: var(--second-color);
  text-decoration: none;
}

.nav-contacts .contacts_icons {
  display: none;
}

footer {
  text-align: center;
  padding: 20px 0;
  background: var(--second-color);
  color: var(--accent-color);
}

.section {
  display: flex;
  flex-direction: column;
  color: var(--second-color);
}

/* .section:nth-child(2n) .content {
            clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 calc(100% - 40px));
        } */

.section__white {
  padding-bottom: 42px;
}

.section__white .content {
  background-color: var(--second-color);
}

.section__main .photo {
  margin-top: -40px;
}

.section__main .content {
  clip-path: none;
  min-height: auto;
  margin-bottom: 10px;
}

.section__features .content {
  margin-bottom: -94px;
  min-height: calc(100vh - 260px);
}

.content {
  padding: 42px 20px;

  /* min-height: calc(100vh - 260px); */
  margin-bottom: 20px;
  background-color: var(--accent-color);
}

section .content {
  padding: 42px 20px;
}

.img img,
.img picture {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img picture img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bold {
  font-weight: bold;
}

.list {
  padding-left: 20px;
}

.logo {
  width: 140px;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.photo {
  clip-path: polygon(0 40px, 100% 0, 100% calc(100% - 40px), 0 100%);
  /* margin: 0 -20px; */
  height: 220px;
  margin-top: -64px;
  margin-bottom: -42px;
  z-index: 1;
}

.section:nth-child(2n) .photo {
  clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 calc(100% - 40px));
}

.photo__svarka img {
  object-position: 0 -176px;
}

.photo__sales img {
  /* object-position: 0 -176px; */
}

.photo__korobka_polovina img {
  object-position: 0 -215px;
}

.photo__shtangen img {
  /* object-position: 0 -215px; */
}

.photo__kluchi_na_stene img {
  /* object-position: 0 -215px; */
}

.section__white {
  color: var(--accent-color);
}

/* .section__services .content {
            padding-top: 0;
            padding-bottom: 90px;
        }

        .section__reviews .content {
            padding-top: 0;
            padding-bottom: 90px;
        }

        .section__features,
        .section__partners,
        .section__contacts {
            margin-top: -100px;
        } */

.photo__vecher_box img {
  object-position: 0 -170px;
}

.photo__korobka_ladi img {
  object-position: 0 -200px;
}

.photo__ruka img {
  /* object-position: 15px -7px; */
}

.brif {
  display: flex;
  flex-wrap: wrap;
  list-style: decimal;
  gap: 5px;
}

.rounded {
  counter-reset: li;
  list-style: none;
  font-size: 14px;
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-right: -20px;
}

.rounded li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: var(--accent-color);
  color: var(--second-color);
  text-decoration: none;
  transition: 0.3s ease-out;
}

.rounded li:before {
  content: '⚙';
  /* content: '☆'; */
  /* content: counter(li); */
  counter-increment: li;
  position: absolute;
  left: -1.3em;
  top: 50%;
  margin-top: -1.3em;
  background: var(--accent-color);
  height: 2em;
  width: 2em;
  line-height: 2em;
  border: 0.3em solid var(--second-color);
  text-align: center;
  font-weight: bold;
  border-radius: 2em;
  transition: all 0.3s ease-out;
}

.blocks {
  counter-reset: li;
  list-style: none;
  font-size: 14px;
  padding: 0 0 0 1em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  margin-right: -20px;
  padding-left: 2.4em;
}

.blocks li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin: 0.5em 0;
  background: var(--accent-color);
  color: var(--second-color);
  text-decoration: none;
  transition: 0.3s ease-out;
}

.blocks li:first-child:before {
  content: '☆';
}

.blocks li::before {
  content: '✓';
  counter-increment: li;
  position: absolute;
  left: -2.4em;
  top: 50%;
  margin-top: -1.1em;
  background: var(--accent-color);
  height: 100%;
  width: 2.1em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

.list__big .list_item {
  margin-bottom: 5px;
}

.hidden {
  height: 0;
  opacity: 0;
}

.toggle {
  font-size: 14px;
  text-decoration: underline;
  margin-left: 21px;
}

.swiper {
  margin-bottom: 20px;
}

.swiper-slide {
  padding: 0 0 30px 0;
  margin: auto;
}

.user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_avatar {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--second-color);
}

.user_name {
  font-weight: bold;
  margin: 0;
}

.badge_list {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.badge {
  display: flex;
  align-items: center;
  background: var(--second-color);
  padding-left: 7px;
  border-radius: 5px;
  height: 50.5px;
  overflow: hidden;
}

.badge_logo {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}

.badge_data {
  height: inherit;
  max-width: 100%;
  max-height: 100%;
}

.badge_logo img,
.badge_data img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.number {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 10px;
}

.number_cnt {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.number_value {
  font-size: 1.8em;
  line-height: 1;
  font-weight: bold;
}

.number_text {
  font-size: 0.9em;
  line-height: 1;
}

.divider {
  width: 94%;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: 15px auto;
}

.contacts_icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.contacts_icon img {
  width: 40px;
}

.contacts_icon a {
  text-decoration: none;
  color: var(--accent-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 2px;
}

.contacts_text {
  /* text-decoration: none; */
  color: var(--accent-color);
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
}

.contacts_text-cnt {
  display: flex;
  align-items: center;
  gap: 5px;
}

.process_item {
  padding: 20px;
  border: 1px solid var(--accent-color);
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  padding-right: 21px;
}

.process_title {
  font-weight: bold;
  font-size: 1.2em;
}

.process_text__small {
  font-size: 12px;
}

.process_img {
  position: absolute;
  right: 0;
  bottom: -10px;
  opacity: 0.8;
  width: 50px;
  overflow: hidden;
}

.process_img img {
  max-width: 100%;
  object-fit: contain;
}

.process_img__message {
  width: 64px;
  right: -7px;
  bottom: -14px;
}

.process_img__check {
  right: 0px;
  bottom: -7px;
  opacity: 0.7;
}

.process_img__parts {
  right: 2px;
  bottom: -22px;
  width: 52px;
  opacity: 0.6;
}

.process_img__repair {
  opacity: 0.6;
}

.process_img__auto {
  opacity: 0.6;
  bottom: -15px;
}

.process_img__done {
  width: 25px;
  right: 12px;
  bottom: 27px;
}

.list_item__img {
  display: none;
}

.map {
  border: 0;
}

.section__tech .content {
  padding-bottom: 84px;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.sales-link {
  display: none;
  margin-right: 8px;
}

.section .image-wrapper {
  position: relative;
  overflow: hidden;
}

.section .image-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  transition: opacity 0.5s ease;
}

.section .preview {
  filter: blur(20px);
  transform: scale(1.1);
}

.section .full {
  opacity: 0;
}

.section .full.loaded {
  opacity: 1;
  z-index: 3;
}

.language-switcher {
  display: flex;
  gap: 10px;
  margin: 0 10px;
}

.lang-link {
  text-decoration: none;
  color: var(--second-color);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
  font-size: 14px;
}

.lang-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.lang-link.active {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
}

.section__hero {
  margin-bottom: -48px;
}


.section__hero .content {
  padding: 0;
  margin-bottom: 0;
  position: relative;
  padding: 0;
}

.content_hero {
  text-align: center;
}

.hero__title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-top: 3rem;
}

.hero__subtitle {
  text-align: center;
  font-size: 1.23em;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0.01em;
  line-height: 1.1;

  font-size: 1.4rem;
  display: block;
  max-width: 18rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;

  font-family: PT Sans, sans-serif;


}

.hero__img {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.mechanic-container {
  width: 100%;
  aspect-ratio: 1952 / 2208;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.mechanic-bg {
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

.mechanic-layer {
  position: absolute;
  pointer-events: none;
  will-change: transform;
}

/* Layer 1 */
.mech-layer-1 {
  left: 8.5553%;
  top: 18.3877%;
  width: 9.6311%;
  height: auto;
  z-index: 1;
  animation: float-1 6.01s ease-in-out infinite;
  animation-delay: -1.54s;
}

@keyframes float-1 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16.8px);
  }
}

/* Layer 18 */
.mech-layer-18 {
  left: 24.4877%;
  top: 6.9746%;
  width: 5.6352%;
  height: auto;
  z-index: 18;
  animation: rotate-ccw 12s linear infinite;
}

/* Layer 2 */
.mech-layer-2 {
  left: 18.4426%;
  top: 10.5072%;
  width: 7.2746%;
  height: auto;
  z-index: 2;
  animation: rotate-cw 12s linear infinite;
}

/* Layer 3 */
.mech-layer-3 {
  left: 22.7971%;
  top: 9.8732%;
  width: 14.3443%;
  height: auto;
  z-index: 3;
  animation: float-3 8.21s ease-in-out infinite;
  animation-delay: -3.57s;
}

@keyframes float-3 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-16.1px);
  }
}

/* Layer 4 */
.mech-layer-4 {
  left: 17.1619%;
  top: 26.9928%;
  width: 13.6783%;
  height: auto;
  z-index: 4;
  animation: float-4 6.77s ease-in-out infinite;
  animation-delay: -3.26s;
}

@keyframes float-4 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-17.9px);
  }
}

/* Layer 5 */
.mech-layer-5 {
  left: 32.5820%;
  top: 20.4257%;
  width: 4.2008%;
  height: auto;
  z-index: 5;
  animation: rotate-cw 15s linear infinite;
}

/* Layer 6 */
.mech-layer-6 {
  left: 39.0369%;
  top: 7.9710%;
  width: 8.1455%;
  height: auto;
  z-index: 6;
  animation: float-6 8.97s ease-in-out infinite;
  animation-delay: -5.69s;
}

@keyframes float-6 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15.3px);
  }
}

/* Layer 7 */
.mech-layer-7 {
  left: 49.4877%;
  top: 7.1558%;
  width: 6.6086%;
  height: auto;
  z-index: 7;
  animation: float-7 6.14s ease-in-out infinite;
  animation-delay: -3.28s;
}

@keyframes float-7 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15.3px);
  }
}

/* Layer 8 */
.mech-layer-8 {
  left: 54.8156%;
  top: 7.3822%;
  width: 13.9344%;
  height: auto;
  z-index: 8;
  animation: float-8 7.16s ease-in-out infinite;
  animation-delay: -3.24s;
}

@keyframes float-8 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15.9px);
  }
}

/* Layer 9 */
.mech-layer-9 {
  left: 72.3361%;
  top: 9.8279%;
  width: 4.2008%;
  height: auto;
  z-index: 9;
  animation: float-9 7.07s ease-in-out infinite;
  animation-delay: -2.55s;
}

@keyframes float-9 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-11.8px);
  }
}

/* Layer 10 */
.mech-layer-10 {
  left: 65.2152%;
  top: 20.2446%;
  width: 11.3217%;
  height: auto;
  z-index: 10;
  animation: float-10 7.31s ease-in-out infinite;
  animation-delay: -5.59s;
}

@keyframes float-10 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-11.0px);
  }
}

/* Layer 11 */
.mech-layer-11 {
  left: 71.0041%;
  top: 14.7192%;
  width: 15.8811%;
  height: auto;
  z-index: 11;
  animation: float-11 6.46s ease-in-out infinite;
  animation-delay: -3.59s;
}

@keyframes float-11 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-17.2px);
  }
}

/* Layer 12 */
.mech-layer-12 {
  left: 88.2684%;
  top: 24.2754%;
  width: 2.7664%;
  height: auto;
  z-index: 12;
  animation: float-12 8.21s ease-in-out infinite;
  animation-delay: -1.96s;
}

@keyframes float-12 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-18.7px);
  }
}

/* Layer 13 */
.mech-layer-13 {
  left: 87.2439%;
  top: 29.0308%;
  width: 4.1496%;
  height: auto;
  z-index: 13;
  animation: float-13 6.98s ease-in-out infinite;
  animation-delay: -3.60s;
}

@keyframes float-13 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-18.0px);
  }
}

/* Layer 14 */
.mech-layer-14 {
  left: 68.1865%;
  top: 32.9710%;
  width: 24.8463%;
  height: auto;
  z-index: 14;
  animation: float-14 8.60s ease-in-out infinite;
  animation-delay: -2.43s;
}

@keyframes float-14 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-14.3px);
  }
}

/* Layer 15 */
.mech-layer-15 {
  left: 7.8381%;
  top: 35.7790%;
  width: 12.5512%;
  height: auto;
  z-index: 15;
  animation: float-15 6.52s ease-in-out infinite;
  animation-delay: -0.05s;
}

@keyframes float-15 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-12.1px);
  }
}

/* Layer 16 */
.mech-layer-16 {
  left: 23.6680%;
  top: 37.3188%;
  width: 6.8135%;
  height: auto;
  z-index: 16;
  animation: rotate-ccw 20s linear infinite;
}

/* Layer 17 */
.mech-layer-17 {
  left: 20.5430%;
  top: 43.7953%;
  width: 5.1742%;
  height: auto;
  z-index: 17;
  animation: float-17 8.59s ease-in-out infinite;
  animation-delay: -5.88s;
}

@keyframes float-17 {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15.5px);
  }
}

/* Rotation Keyframes */
@keyframes rotate-cw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-ccw {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.button {
  text-align: center;
  margin: auto;
  margin-top: 20px;
  display: inline-block;
  padding: 12px 24px;
  background-color: var(--accent-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--second-color);
}

.button a {
  color: var(--second-color);
  text-decoration: none;
}

@media screen and (min-width: 769px) {
  .sales-link {
    display: block;
  }

  .animate-once {
    opacity: 0;
  }

  .animate-once.visible {
    animation-name: fadeInUp;
    animation-fill-mode: forwards;
  }

  .nav-contacts {
    display: flex;
    align-items: center;
  }

  .nav-contacts .contacts_icons {
    margin: 0;
    display: flex;
  }

  .nav-contacts .contacts_icon img {
    width: 100%;
    filter: grayscale(1) brightness(0) invert(1);
  }

  .nav-contacts .contacts_icon {
    width: 36px;
    margin-right: 12px;
  }

  .nav-contacts .contacts_icon a {
    font-size: 0;
    display: block;
  }

  .header {
    padding: 10px 20px;
  }

  .logo {
    /* height: 100px; */
    height: 62px;
  }

  .section .photo {
    margin: 0;
  }

  .section {
    min-height: calc(100vh + 84px);
    position: relative;
    margin-bottom: -114px;
    padding-bottom: 114px;
  }

  .section__main .photo {
    margin-top: -42px;
  }

  .section .photo {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: calc(100vh + 84px);
    height: 100%;
    background: #000;
  }

  .section .photo img {
    opacity: 0.4;
  }

  .section .content {
    width: 900px;
    max-width: 70%;
    margin: auto;
    margin-right: 20%;
    padding: 40px;
    border-radius: 5px;
    border-bottom: 20px solid;
  }

  h1 {
    font-size: 3.6em;
  }

  .number_value {
    font-size: 2.7em;
  }

  .number_text {
    font-size: 1.35em;
  }

  h2 {
    font-size: 2.25em;
  }

  .process_text__small {
    font-size: 16px;
  }

  .section:nth-child(2n) .content {
    clip-path: none;
    margin: auto;
    margin-left: 20%;
  }

  .section .content.content_wide {
    max-width: 90%;
    width: 1000px;
    margin: auto;
    margin-top: 114px;
    margin-bottom: 74px;
  }

  .list_wide.list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    padding-left: 0;
  }

  .list_wide .list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 2px solid;
    width: 158px;
    height: 142px;
    text-align: center;
    border-radius: 5px;
    gap: 5px;
  }

  .list_wide .list.list_odd .list_item {
    width: 280px;
  }

  .list_wide .list_item__img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 60px;

    filter: invert(1);
  }

  .section::before {
    content: '';
    display: block;
    height: 10px;
    width: 100%;
    background-color: var(--accent-color);
    background-image: url(/src/img/фон.svg);
    transform: rotate(-1.7deg);
    position: absolute;
    top: 14px;
    left: 0;
    right: 0;
    z-index: 3;
  }

  .section:nth-child(2n):before {
    transform: rotate(1.7deg);
  }

  .section__main::before {
    content: none;
  }

  .process {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }

  .process_item {
    max-width: calc(50% - 40px);
    width: 480px;
    margin-bottom: 0;
    counter-increment: process_item;
  }

  .process_item::before {
    content: counter(process_item);
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 28px;
    opacity: 0.8;
  }

  .map {
    transform: none;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    justify-content: center;
    position: relative;
    padding-bottom: 35px;
  }

  .contacts .divider {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
  }

  .section.section__contacts {
    margin-bottom: 0;
    padding-bottom: 34px;
  }

  .section .photo.photo__servis_sboku {
    clip-path: polygon(0 0, 100% 40px, 100% 100%, 0 100%);
  }

  .section__features {
    padding-bottom: 84px;
  }

  .section__sales .list_item {
    width: 260px;
    height: 232px;
  }

  .section__sales .list_wide.list {
    justify-content: space-between;
  }

  .section__sales .content {
    width: 632px;
  }

  .section__sales .list_item,
  .section__features .list,
  .contacts_text,
  .process_text {
    font-size: 20px;
  }

  .process_title {
    font-size: 28px;
  }

  .number_cnt {
    gap: 10px;
  }

  .ka .list_wide .list_item {
    height: 200px;
  }

  .ka .section__sales .list_item {
    height: 300px;
  }

  .section__sales {
    padding-top: 40px;
  }

  .language-switcher {
    margin: 0 20px;
  }

  .content_hero {
    /* display: flex;
    margin: 0;
    width: 100%;
    max-width: 100%;
    padding: 0; */

    border-top: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    width: 642px;
    height: auto;
    margin: 7% auto auto 4%;
    padding: 64px;
  }

  .hero__title-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: 0;
    display: flex;
  }

  .hero__title {
    text-align: left;
    margin-top: 0;
    font-size: 3.2rem;
  }

  .hero__subtitle {
    text-align: left;
    margin: 0;
    font-size: 1.3rem;
    max-width: 24rem;
  }

  .hero__img {
    z-index: -1;
    position: absolute;
    right: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    display: flex;
  }

  .section__hero {
    margin-bottom: -96px;
    margin-top: -24px;
    overflow: hidden;
  }

  .section__hero::before {
    content: none;
  }

  .section.section__hero .content_hero {
    width: 558px;
    margin: auto auto auto 4%;
    padding: 64px;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    height: auto;
  }

  .hero__title-wrapper {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    display: flex;
    /* transform: scale(1.3); */
  }

  .hero__img {
    position: absolute;
    right: 0;
    z-index: -1;
    max-width: none;
  }


  .button_hero {
    margin-left: 0;
  }


  /* .mechanic-bg {
    width: auto;
    position: absolute;
    top: 0;
    left: auto;
    width: 1600px;
    height: 665px;
    right: -12%;
  } */

  .mechanic-bg {
    width: 1600px;
    height: 665px;
    position: absolute;
    top: 0;
    left: auto;
    right: -180px;
  }

  /* .mechanic-container {
    aspect-ratio: 1952 / 2208;
    width: 40%;
    position: relative;
    overflow: hidden;
    position: absolute;
    right: 10%;
  } */

  .mechanic-container {
    width: 600px;
    height: 679px;
    right: 128px;
    overflow: hidden;
    position: absolute;
    aspect-ratio: auto;
    top: 0;
    z-index: auto;
  }
}